    <!-- site header
    ================================================== -->
    {% load static %}
     <!-- site header
        ================================================== -->
        <!-- <header class="s-header">
                <div class="header__top">
                    <div class="header__logo">
                        <a class="site-logo" href="" style="width: max-content;">
                            <img src="{% static 'images/favicon.png' %}" alt="Homepage">
                        </a>
                    </div>
          
            </div> 

            

        </header>  -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo">
                        <img src="{% static 'images/favicon.png' %}" alt="Homepage">
                    </a>
                </div>

                <!-- toggles -->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">
                <ul class="header__nav">
        
                    <li class="current"><a href="{% url 'index' %}" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a href="{% url 'category' 'Covid'%}">Covid 19</a></li>
                        <li><a href="{% url 'category' 'Finance' %}">Finance</a></li>
                        <li><a href="{% url 'category' 'International-Affairs' %}">International Affairs</a></li>
                        <li><a href="{% url 'category' 'Environment' %}">Environment</a></li>
                        <li><a href="{% url 'category' 'Public-Policy' %}">Public Policy</a></li>
                        <li><a href="{% url 'category' 'Technology' %}">Technology</a></li>
                        <li><a href="{% url 'category' 'Necessities' %}">Necessities</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'podcasts' %}" title="">Podcasts</a></li>
                    <li><a href="{% url 'support' %}" title="">Support</a></li>
                </ul> <!-- end header__nav -->
                <a href="https://www.linkedin.com/in/sharon-jose-51053b161/" style=" padding-top: 20%; padding-bottom: 10%;"><img src="{%static 'images/linkedin.png'%}" style="width: 15%;"></a>
            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->
